.App {
  text-align: center;
}

.App-header {
  background-color: #734343;
  padding: 2em;
  color:  #EEEDE1 ;
  margin-bottom: 0em;
  margin-left: 50px;
  margin-right: 50px;
}

.App-title {
  font-size: 1.5em;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #734343;
  padding: 2em;
  color:  #EEEDE1 ;
  margin-bottom: 0em;
  margin-left: 50px;
  margin-right: 50px;
}

img {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 600px;
  height: 460px;
  border-style: solid;
  border-color: #2B450C;
  border-width: 10px;
}

.description {
  width: 80px;
  height: 30px;
}
