
.Gallery {
    display: grid;
    justify-content: space-evenly;
}

.GalleryItem {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    background-color: #D59063;
    padding: 10px;
    margin-bottom: 20px;
}